.footer {
	margin-top: auto;
}

.footer__container{
 border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__content {
 height: 110px;
 position: relative;
 margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__col {
	display: flex;
	align-items: center;
}

.footer__col .logo {
	margin-right: 130px;
}

.menu__footer {
 top: 40px;
 left: 290px;
}

.socials__item {
 display: inline-block;
 vertical-align: middle;
 margin-right: 6px;
}

.socials__item:last-child {
	margin-right: 0;
}

.socials__link {
 display: block;
 width: 36px;
 height: 36px;
}

.socials {
 margin-right: 74px;
}

.contacts__call {
 color: #9A9A9A;
 font-size: 11px;
 right: 0;
 margin-bottom: 6px;
}