.passed {
 margin-bottom: 145px;
}

.passed__list {
	display: flex;
	justify-content: space-between;
}

.passed__item {
 position: relative;
 width: 557px;
 display: inline-block;
 vertical-align: top;
 margin-right: 23px;
}

.passed__item:last-child {
	margin-right: 0;
}

.passed__img {
 display: block;
 object-fit: cover;
 width: 100%;
 height: 100%;
 border-radius: 5px;
 overflow: hidden;
}

.passed__content {
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 200px 30px 27px;
 min-height: 150px;
}

.passed__date {
 font-size: 14px;
}

.subtitle--light {
 margin-top: 15px;
 margin-bottom: 10px;
}

.passed__list {
 margin-bottom: 55px;
}

.pagination {
 display: flex;
	justify-content: center;
	align-items: center;
}

.pagination__list {
	display: flex;
	align-items: center;
}

.pagination__item {
	text-align: center;
}

.pagination__text {
 margin-right: 25px;
}

.pagination__numb {
 display: block;
 width: 32px;
 height: 32px;
 border-radius: 50%;
 font-weight: bold;
 line-height: 32px;
 transition: 0.3s all;
	cursor: pointer;
}

.pagination__numb:hover {
	background: #8F00FF;
}

.pagination__item--active .pagination__numb {
 background: #8F00FF;
}