.reviews {
 column-count: 2;
 column-gap: 27px;
 margin-bottom: 50px;
}

.reviews__item {
 margin-bottom: 20px;
}

.review {
 display: inline-flex;
 flex-direction: column;
 padding: 57px 30px 40px 30px;
 background: #F4F5F5;
}

.review__photo {
 margin-right: 22px;
}

.avatar {
 width: 140px;
 height: 140px;
 overflow: hidden;
 border-radius: 50%;
}

.review__header {
 display: flex;
 align-items: center;
 margin-bottom: 20px;
}

.review__user {
 display: flex;
 align-items: center;
 font-size: 24px;
 font-weight: bold;
 color:#1A1B1E;
 margin-bottom: 11px;
 text-decoration: underline transparent;
 transition: text-decoration-color 300ms;
 transition: .3s;
}

.review__user:after {
 content: url("/Quiz-box/img/vk-blue.png");
 height: 30px;
 margin-left: 12px;
}

.review__user:hover {
 color: #2E77A4;
 text-decoration-color:#2E77A4;
}

.review__tags {
 display: flex;
 align-items: flex-start;
}

.tag {
 font-size: 13px;
 color: #303030;
 padding: 10px 16px;
 border-radius: 50px;
 background: #E7E7E7;
}

.tag--bg--green {
 background: #B9EAE4;
}

.review__title {
 font-size: 30px;
 color: #1A1B1E;
 font-weight: bold;
 margin-bottom: 18px;
}

.review__content-text {
 margin-bottom: 40px;
 font-size: 16px;
 color: #818181;
 line-height: 27px;
}

.review__date {
 font-size: 14px;
 color: #1A1B1E;
 font-weight: bold;
}
